
.section{
    display: flex;
    justify-content: space-between
   
}

.roomCon{
    
   height:100vh;
   width:100%;

}
.listCon{
    width:100%;
    height:100vh;
   border-right:1px solid black;
}