
.section { max-width: 600px; margin: 0 auto;  background-color: whitesmoke; } 
.formWrap{position: relative; }
.chatForm { height: 540px; overflow-y: scroll; display: flex; flex-direction: column; padding: 18px; } 
.chatForm::-webkit-scrollbar {display: none; background: white; border-radius: 12px; width: 10px; } 
.chatForm::-webkit-scrollbar-thumb { background-color: white; border-radius: 12px; } 
.message { display: flex; padding: 3px 0; font-size: 18px; gap:8px; } 
.mine { display: flex; justify-content: end; align-items: end; } 
.isRead{font-size:12px;  }
.mineContent { display: flex; justify-content: end; max-width: 150px; } 
.myMessageInner { padding: 5px 12px; background-color: #F9EB54; color: black; border-radius: 5px; text-align: start; word-break: break-all; } 
.messageInner { display: flex; justify-content: center; align-items: center; } 
.messageContent { display: flex; flex-direction: column; max-width: 150px; gap:4px; } 
.messageNickname { font-size:16px;  text-align: start;} 
.messageMsg {  max-width: 150px; background-color: white; padding: 5px 12px; color: black; border-radius: 5px; text-align: start; word-break: break-all; } 
.messageMsg:first-of-type { margin-left:48px;}
.messageMsg:not(:first-of-type){}
.profileBox { width: 40px; height: 40px; overflow: hidden; border-radius: 50%; display: flex; align-items: center; } 
.userImg { width:100%; height: auto; } 
.inputForm { display: flex; justify-content: center; gap: 5px; padding: 12px 0 0; } 

.inputForm > input { width: 100%; font-size: 18px; padding: 0 7px; } 
.reportBtn { border: none; background-color: transparent; color: #93979b; font-size: 12px; } 

.toBottomBtn{position: absolute; bottom: 0; padding: 48px 0 18px; width: 100%; background: linear-gradient(360deg, rgba(35, 37, 66, 0.3) 0%, transparent 100%);}














