
.section { display: flex; } 
.listCon { width: 450px; height:100vh; border-right:1px solid lightgray; overflow: auto; } 
.roomCon { width:calc(100% - 450px); height:100vh; right: 0; overflow: auto; background-color: whitesmoke; display: flex; justify-content: center; align-items: center; } 
.roomCon::-webkit-scrollbar { display: none; } 

.startChat { display: flex; flex-direction: column; gap:24px; text-align: center; } 
.chatIcon { margin: 0 auto; } 
.startChat p { color: #999; font-size: 24px; } 

@media screen and (max-width:1024px) {
	.listCon { width: 350px;}
	.roomCon { width: calc(100% - 350px);} 
}

@media screen and (max-width:768px){
 .section { flex-direction: column; height: calc(100vh - 125px) } 
 .listCon { width: 100%; height:15%; min-height: 120px; border-bottom: 1px solid lightgray; border-right: none; } 
 .roomCon { width: 100%; height:85%; } 
 }
