.container{

}

.logo {
  display: flex;
  justify-content: center;
  width:250px;
  margin:0 auto;
  margin-bottom: 50px; 
}

.logo img {

  text-align: center;
  width:250px;

}

.card {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding:24px;
}

.card-body {
  padding: 20px;
}


.findbtn {
  margin-right: 10px;
}

.requestBtn {
  border: none;
  color: white;
  border-radius: 5px;
}


.alert {
  font-size: 12px;
  color: red;
}

.applyCode {
  color: blue;
}

@media (max-width: 768px) {
  .card {
    max-width: 95%;
  }
 
}
