.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 15vw;
  height: calc(100vh - 50px);
  background-color: #333;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar a {
  padding: 10px 0;
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: grey;
}