
.card {
  max-width: 500px; 
  margin: 0 auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.cardbody {
  padding: 20px; 
}


@media (max-width: 768px) {
  .card {
    max-width: 95%; 
  }
}













.hidden{
    display: none;

  }




.text-center img{width: 80px; border-radius: 50%;}

.buttonWrap{
  display: flex;
  justify-content: end;
}
.buttonsim, .buttonjun{
  padding: 2px;
  margin: 0 0.5vw;
  width: 7vw;
  
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  }
  
.buttonjun{
  background-color: rgb(250, 3, 81);
  color: white;
}

.buttonsim{
  background-color: #0d6efd;
  color: white;
}

.buttondong{
  display: flex;
  justify-content: end;
}

.passwordBtn1{
 
 width: 500px;
}

.passwordBtn2{
 margin-top: 10px;
  width: 416px;
 }
 


