
.container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 12vw 1fr;
  grid-template-rows: 9vh 1fr;
  grid-template-areas: 
  'nav nav nav'
  'leftSidebar content rightSidebar'
  ;
  text-align: center;
}


.nav{
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 8vh;
}

.logo{
  height: auto;
  width: 15vw;
}
.navbarSearch input{
  width: 40vw;
  padding: 3px;
}

.leftSidebar, .rightSidebar{
  background-color: rgb(233, 245, 255);
  position: fixed;
  top: 8vh;
  z-index: 10;
}

.leftSidebar{
  grid-area: leftSidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  height: 100vh; /* 전체 화면 높이 */
}
.menuItems{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu{
  padding: 12px 0;
  margin-top: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.setting{
  margin-bottom: 50%;
}

.rightSidebar{
  grid-area: rightSidebar;
  right: 0;
  height: 100vh; /* 전체 화면 높이 */
}

.content{
  padding: 2vw;
  grid-area: content;
  overflow: auto;
}
.content::-webkit-scrollbar{
  background: #d2efff;
  border-radius: 12px;
  width: 10px;
}
.content::-webkit-scrollbar-thumb{
  background-color: rgb(135, 199, 255);
  border-radius: 12px;
}

.dialog{
  width: 50vw;
  padding: 1vw 0;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -100%);

}

.userImg{
  border-radius: 25px;
  max-height: 6.5vh;
  width: 4vw;
  height: auto;
  overflow: hidden;
  margin-right: 1vw;
  margin-left: 1vw;
}
.span{
  text-align: center;
}

@media(max-width : 768px) {
  .span{
    display: none;
  }
}
.mbtiMenu{
  width: 100%;
}

.svg{
  width: auto;
  height: 2.5vh;
  margin-left: 1vw;
}
.profileBtn{
  border: 0; 
  background-color: rgba(0, 0, 0, 0);
}
