.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "leftSidebar content";
  text-align: center;
}
.nav {
  display: none;
  grid-area: nav;
}
.logo {
  width: 150px;
  margin-left: 6px;
}
.navbarSearch input {
  padding: 6px;
  background-color: rgb(223, 223, 223);
  border: none;
  border-radius: 18px;
  width: 300px;
}

.leftSidebar {
  grid-area: leftSidebar;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100vh; /* 전체 화면 높이 */
  border-right: 1px solid rgb(221, 221, 221);
}
.homeMenu {
  display: none;
}
.rutMenu .menu{
  height: 90px;
  border-bottom: none;
}
.menuItems {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.searchBar {
  margin-left: 200px;
}

.menu {
  padding: 18px 0;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 60px;
}
.menu:hover{
  background-color: rgb(233, 233, 233);
  transition: all 0.5s;
}
.menu:hover .svg{
  width: 28px;
  height: auto;
  transition: all 0.5s;
}
.showChat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  background-color: salmon;
  border-radius: 50%;
}

.content {
  grid-area: content;
  overflow: auto;
}
.content::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  width: 0px;
}
.content::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.goLogin {
  margin-right: 1vw;
  background-color: rgb(97, 181, 255);
  border-radius: 12px;
  padding: 0 1vw;
  border: 2px solid rgb(0, 54, 75);
}

.userImg {
  border-radius: 50%;
  height: auto;
  overflow: hidden;
}
.span {
  text-align: center;
}
.mbtiMenu {
  margin-left: 12px;
}

.svg {
  width: auto;
  height: 25px;
  margin-left: 12px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 60px 1fr;
  }
  .rutMenu {
    display: none;
  }
  .homeMenu {
    display: block;
    margin-top: 36px;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .svg {
    margin-left: 0;
  }
  .mbtiMenu {
    margin-left: 0;
  }
  .span {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav"
      "content"
      "leftSidebar";
    text-align: center;
  }
  .leftSidebar {
    padding: 0 18px;
    grid-area: leftSidebar;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(221, 221, 221);
  }
  .nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .topLogo {
    height: 50px;
  }
  .hiddenSearch {
    display: none;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .homeMenu {
    margin-top: 0;
  }
}
