
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}

.form{
  border: 1px solid black;
  border-radius: 12px;
  width: 650px;
  min-height: 70vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}
.selectBox{
  padding: 12px;
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.selectTitle{
  font-size: 1.7vh;
}
.mbtiSelectE, .mbtiSelectI{
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.7vh; 
  font-weight: bold;
  margin-right: 6px;
}

.titleBox{
  padding: 1vw;
}
.titleInput{
  width: 550px;
  padding: 6px;
  border-radius: 12px;
  border: 1px solid black;
}
.editorBox{
  width: 550px;
  height: 40vh;
}

.contentBox{
  padding: 1vw;
  height: 50vh;
}

.textarea{
  resize: none;
  width: 60vw;
  height: 40vh;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
}
.textarea::-webkit-scrollbar{
  background: #d2efff;
  border-radius: 12px;
  width: 10px;
}
.textarea::-webkit-scrollbar-thumb{
  background-color: rgb(135, 199, 255);
  border-radius: 12px;
}

.submitBtn{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.imageWrap{
  border: 1px solid black;
  width: 40vw;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}


.imgBox{
  width: 20vw;
}
.showImg{
  width: 20vw;
}

.cropperButtonWrapper{
  display: flex;
justify-content: end;}


.cropButton {
  margin-right: 5px;
}

@media(max-width : 768px) {
  .form{width: 500px;}
  .selectBox{width: 450px;}
  .editorBox{width: 450px;}
  .titleInput{width: 450px;}
  .textarea{width: 450px;}
}
@media(max-width : 576px) {
  .form{width: 450px;}
  .selectBox{width: 400px;}
  .editorBox{width: 400px;}
  .titleInput{width: 400px;}
  .textarea{width: 400px;}
}
@media(max-width : 500px) {
  .form{width: 400px;}
  .selectBox{width: 350px;}
  .editorBox{width: 350px;}
  .titleInput{width: 350px;}
  .textarea{width: 350px;}
}