h1{
  text-align: center;
}
.postBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postWrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
  width: 50vw;

}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1vh 0 ;
  border-bottom: 1px solid black;
  position: relative;
}
.userBox{
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
}
.userInfoBtn{ 

}
.dropdown{
  display: none;
}
.dropdownOpen{
  position: absolute;
  background-color:white;
  border: 1px solid black;
  list-style: none;
  top: 100%;
  display: flex;
  flex-direction: column;
  width: 12vw;
  font-size: 1.5vh;
  text-align: start;
}

.profileImg {
  width: 40px;
  height: auto; 
  border-radius: 25px;
  margin-right: 10px;
}

.nickname, .date {
  flex-grow: 1;
}

.dateReadhitBox{
  display: flex;
  justify-content: space-between;
}
.readhit{
  margin-right: 1vw;
}
.postBody {
  display: flex;
  padding: 1vh 0 0 0;
}

.content {
  padding: 0 1vw;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2vh;
  margin-bottom: 10px;
  margin-left: 2vw;
}


a{
  text-decoration: none;
  color: black;
}

.imgBox{
  width: 30%;
}
.thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img{
  width: 100%;
}
.titleBox{
  width: 50%;
  display: flex;
  align-items: center;
}
