h1{
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
.postBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 24px;
}
.sortBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort{
  width: 120px;
}
.postItemsBox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

}
.pagingBox{
  display: flex;
  justify-content: center;
  align-items: end;
}
.container {
  width: 600px;
  height: 200px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
@media(max-width : 1600px){
  .container{width: 500px;}
}

.postWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postContent{
  width: 50%;
}
.imgBox{
  width: 50%;
  height: 180px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.imgBox img{
  height: 100%;
  width: auto;
}

.readhitBox{
  display: flex;
  justify-content: space-between;
}
.readhit{
  margin-right: 1vw;
}
.postBody {
  display: flex;
  padding: 1vh 0 0 0;
}

.content {
  padding: 0 1vw;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2vh;
  margin-bottom: 10px;
  margin-left: 2vw;
}




.imgBox{
  width: 30%;
}
.thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.titleBox{
  width: 50%;
  display: flex;
  align-items: center;
}

.sortBox{
  display: flex;
  gap: 6px;
}


.profileBox{
  height: 100%;
  display: flex;
  gap: 12px;
  white-space: nowrap;
}
.nicknameBox{
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.nickname{
  font-weight: bold;
}
.mbti{
  font-weight: 550;
  color: rgb(29, 182, 233);
}

.dropdown{
  display: none;
  
}
.dropdownOpen{
  position: absolute;
  background-color:white;
  border: 1px solid black;
  border-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  top: 100%;
  left: 10%;
  display: flex;
  flex-direction: column;
  font-size: 1.5vh;
  text-align: start;
  z-index: 10;
}
.dropdownOpen li{
  border-bottom: 1px solid #000;
  padding: 3px 10px;
}

.profileImg {
  width: 48px;
  height: auto; 
  border-radius: 50%;
  margin-right: 10px;
}

.nickname, .date {
  flex-grow: 1;
}
