h1{
  text-align: center;
}
.postBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postWrap {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
  width: 50vw;
  position: relative;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImg {
  width: 40px;
  height: auto; 
  border-radius: 25px;
  margin-right: 10px;
}

.nickname, .date {
  flex-grow: 1;
}
.date{
  display: flex;
  justify-content: end;
}

.postBody {
  display: flex;
}

.content {
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2vh;
  margin-bottom: 10px;
  margin-left: 2vw;
}


a{
  text-decoration: none;
  color: black;
}