.container{
  margin: 0 10vw;
  border: 1px solid black;

}
.mbti{
  display: flex;
  text-align: start;
  margin-left: 10px;
  font-weight: bold;
  color: skyblue;
  justify-content: space-between;
  padding: 1vh;
}
.editBtn{
  margin-right: 1vw;
}
.delBtn{
  color: rgb(255, 91, 91);
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  border-bottom: 1px solid black;
}

.nickname{
  
  margin-left: 10px;
}
.date{
  padding: 1vw 2vw;
  margin-right: 10px;
}

.title{
  padding: 1vw 2vw 1vw 0;
  font-weight: 1000;
  font-size: 2vh;
  display: flex;
  justify-content: start;
}
.content{
  padding: 2vw;
  min-height: 30vh;
  overflow: auto;
}
.content::-webkit-scrollbar{
  height: 10px;
  background-color: rgb(223, 240, 255);
  border-radius: 12px;
}
.content::-webkit-scrollbar-thumb{
  background-color: rgb(126, 195, 255);
  border-radius: 12px;

}

.comment{
  
}
.unLabel{
  display: none;
}

.commentForm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
.userImg{
  width: 3vw;
  height: auto;
  margin-right: 5px;
  border-radius: 25px;
}
.myImg{
  width: auto;
  height: 2.5vh;
  margin-right: 5px;
}

.commentInput{
  width: 30vw;
  height: 3vh;
  overflow: scroll;
  margin: 0 10px;
}

@media screen and (max-width : 768px) {
  .label{
    display: none;
  }
}
