.top{display: flex; justify-content: space-between; align-items: center; padding:12px; font-size: 18px; border-bottom: 1px solid #ccc;	}

.noComment{text-align: center; padding:48px 0 ;}
.list{border-bottom:1px solid #ccc;}
.commentBox {padding:12px; display: flex; justify-content: space-between; align-items: center; border-bottom:1px solid #eee;  }
.commentUserInfo{min-width: 120px; display: flex; align-items: center; gap:7px;}
.commentProfileImageWrap{width: 30px; height: 30px; overflow: hidden; border-radius: 100%; border:1px solid #ddd;}
.commentProfileImageWrap img{width: 100%;}
.commentContent{width: 100%; max-width: 600px; padding:12px;}
.commentRight{min-width: 112px; display: flex; align-items: center; gap:12px;}
.commentAlert{padding:12px; text-align: center;  border-bottom:1px solid #eee;}

.paging{display: flex; justify-content: center; align-content: center; padding:24px;}

.commentForm{display: flex; justify-content: space-between; padding: 24px; align-items: center;}
.commentInput{resize: none; min-height: 100px; width: 100%; max-width: 650px; margin:0 12px;}
.commentBtn{padding:5px 12px; min-width: max-content;}


.editCommentForm{display: flex; width: 100%; justify-content: space-between;}
.editInput { resize: none; min-height: 100px; width: 100%; max-width: 650px; margin:0 12px; } 

.needLogin{display: flex; justify-content: center; gap:12px; padding:24px;}