.section { max-width: 1000px; margin: 0 auto; padding:0 24px; } 

.container { width: 100%; } 
.header{border-bottom: 1px solid #ccc; padding:24px;}
.title{font-size: 24px;}

.main{text-align: center; border-bottom: 1px solid #ccc; padding:24px; }
.content{min-height: 200px;}
.likeBtn{width: max-content; margin:0 auto; padding:7px 12px; border:1px solid #ccc; border-radius: 7px; background-color: #fff;}
.likeBtn:hover{background-color: #eee;}

.info{padding:12px 24px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ccc;}
.userInfo{display: flex; align-items: center;}
.postInfo{display: flex; gap:12px;}
.date { }

.commentTop{display: flex; justify-content: space-between; align-items: center; padding:12px; font-size: 18px; border-bottom: 1px solid #ccc;	}
.commentList{}
.commentBox {padding:12px; display: flex; justify-content: space-between; border-bottom:1px solid #eee; }
.commentAlert{padding:12px; text-align: center;  border-bottom:1px solid #eee;}

/* ---------------------------- 구버전 */

.mbti { display: flex; margin-left: 10px; font-weight: bold; color: skyblue; justify-content: space-between; padding: 1vh; } 
.editBtn { margin-right: 1vw; } 
.delBtn { color: rgb(255, 91, 91); } 


.nickname { margin-left: 10px; } 
 

.content::-webkit-scrollbar { height: 10px; background-color: rgb(223, 240, 255); border-radius: 12px; } 
.content::-webkit-scrollbar-thumb { background-color: rgb(126, 195, 255); border-radius: 12px; } 
.goLogin { border:0px; background-color: transparent; } 
.commentContainer { display: flex; flex-direction: column; width: 100%; } 
 
.unLabel { display: none; } 
.commentForm { display: flex; justify-content: center; align-items: center; padding: 2vw; } 
.userImg { width: 3vw; height: auto; margin-right: 5px; border-radius: 25px; } 
.myImg { width: auto; height: 2.5vh; margin-right: 5px; border-radius: 50%; } 
.commentInput { width: 30vw; height: 3vh; overflow: scroll; margin: 0 10px; } 

@media screen and (max-width : 768px){
 .label { display: none; } 
 }

.commentName { width: 15%; } 
.commentContent { width: 30%; } 
.commentDate { } 
.editInput { width: 80%; margin-right: 10px; } 

.editCommentForm { display: flex; justify-content: end; width: 100%; } 

.readhit { color: black; } 

.orderBox { display: flex; justify-content: center; } 