.title {
    margin-bottom: 5vh;
}
.reportBox {

    display: flex;

    justify-content: center;


}
.reportList {
    border: 1px solid black;
    border-radius: 5px;
    width: 60vw;

}



.reportListBox {
    padding: 2vw;
    border-bottom: 1px solid black;

}

.reportListBox:last-of-type {
    border-bottom: 0px;
}

.reportLink {
    display: flex;
    justify-content: space-between;
}

.reportContent {
    display: flex;
    justify-content: space-between;
}

.reportId,
.reportPerson,
.reportType {
    margin-right: 5vw;
}

.btnBox {
    display: flex;
    justify-content: end;
}

.banBtn,.cancelBtn{
    background-color: white;
    margin-right: 1vw;
    border-radius: 20%;

}

