* {box-sizing: border-box;}
.userWrap {
    margin: 20px;
    background-color: whitesmoke;
}
.userInner {
    padding: 12px;
}
.userItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    overflow: hidden;
}
.imgWrap img {
    width: 100%;
    height: auto;
}
.postWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}
.nickname{
    display: flex;
    

}

.dropdown{
z-index: 9999 !important;

}
.dropdown button:focus{
    
    border: 0;
}

.swiper{
    padding:12px;
    z-index: 1 !important;
}